body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #b9147c;
    font-family: 'Arial', sans-serif;
    margin: 0;
}

.calculator {
    border: 1px solid #fbf721;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.calculator-display {
    background-color: #222;
    color: #8140f0;
    font-size: 2em;
    text-align: right;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
}

.btn {
    background-color: #322bf5;
    border: 1px solid #fb3434;
    font-size: 1.5em;
    padding: 20px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #65f33a;
}

.btn:active {
    background-color: #e0e0e0;
}

.zero {
    grid-column: span 2;
}
